:root {
  --colorYellowBtn: #DA9D31;
  --colorPrincipal: #DA9D31;
  --white: #fff;
  --colorSecond: #734444;
}

html {
  height: 100%;
  width: 100%;
}

.errorMsg {
  font-size: .8rem;
  color: red;
}

form {
  margin: 30px;
}

form div {
  margin-bottom: 10px;
  width: 100%;
}

input,
select {
  /* background-color: red; */
  width: 70%;
  height: 30px;
  border: 1px solid #878787;
  border-radius: 5px;
  background: transparent;
}

#btnSave {
  width: auto;
  height: auto;
  border: 1px solid var(--colorYellowBtn);
  color: var(--colorYellowBtn);
}

#btnSave:hover {
  color: #fff !important;
  background: var(--colorYellowBtn) !important;
}

#geladeira {
  display: flex;
}

.elem {
  margin: 0 10px;
  padding: 10px;

  border-bottom: 2px solid var(--colorPrincipal);
  margin-bottom: 15px;
  padding-bottom: 15px;

  background-color: rgba(255, 255, 255, 0);

  display: flex;
  justify-content: space-between;

  width: 300px;
}

.text-principal {
  color: var(--colorPrincipal);
}


#tituloForm {
  background-color: var(--colorYellowBtn);
  color: #fff;
  padding: 15px 0;
}



.containerForm {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* background-color: rgba(0, 0, 0, .5); */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.60) 39.06%, rgba(0, 0, 0, 0.35) 76.56%, rgba(0, 0, 0, 0.00) 99.99%, rgba(0, 0, 0, 0.00) 100%);
  /* height: 100%; */
  /* overflow: hidden; */
}

.formView {
  background: #f9f9e2;
}

.imgElemen {
  width: 100px;
  height: 100px;
  object-fit: cover;
}



.btnCustom {
  width: auto !important;
  height: auto !important;
  border: 1px solid var(--colorYellowBtn) !important;
  color: var(--white) !important;
  background: var(--colorYellowBtn) !important;
  font-size: .8rem !important;
}

.btnCustom:hover {
  background: var(--colorSecond) !important;
}

#containerSup {
  height: 70px;
  background-color: var(--colorPrincipal);
  border-bottom: 10px solid var(--colorSecond);
  margin-bottom: 10px;

}

#btnAdd {
  outline: 3px solid var(--white);
  border: none;
  border-radius: 50%;

  height: 60px;
  width: 60px;

  background-color: var(--colorPrincipal);
  /* background-color: black; */
  color: var(--white);

  font-weight: 800;
  text-align: center;
  font-size: 2rem;

  position: fixed;
  bottom: 25px;
  right: 25px;
}

body {
  background-image: url("https://i.postimg.cc/Ssryt3ps/background.png");
}


.cardAbsolute {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}